figure {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 16pt;
  aspect-ratio: 14/9;
  background: #000;
  border-radius: 24px;
  overflow: hidden;
  container-type: inline-size;
}

figure:hover {
  box-shadow: 2px 2px 12px #00000080;
}

figure > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: .8;
  border-radius: 24px;
  transition: .3s ease;
}

figure:hover > img {
  scale: 1.05;
}

figcaption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4pt;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.service-icon {
  padding: clamp(4px, 2cqw, 8px);
  width: fit-content;
  border-radius: 50%;
  background-color: var(--fill);
  border: 1px solid var(--stroke-on-black-weak);
  backdrop-filter: blur(2pt);
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-icon svg {
  width: clamp(16px, 5cqw, 24px);
  height: clamp(16px, 5cqw, 24px);
}

h5 {
  color: var(--text-on-black-strong);
}

.service-info {
  width: 100%;
}

.service-description {
  color: var(--text-on-black-weak);
}




