:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16pt;
  background: #0A0A0A;
}

section {
  max-width: 1280pt;
  width: 100%;
}

section:first-of-type {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 16pt;
  padding: 16pt;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 8pt;
  width: 100%;
  border-radius: 16pt;
  background: var(--fill);
  border: 1px solid var(--stroke-on-black-weak);
  padding: 16pt;
  stroke: var(--brand-strong);
}

.box:first-of-type {
  justify-content: space-between;
  gap: 24pt;
}

h1,h4, p, a {
  color: var(--text-on-black-strong);
}

h1 {
  display: flex;
  align-items: center;
  gap: 4pt;
  font-size: clamp(1.25rem, 1vw + 1rem, 1.5rem);
}

h1 > img {
  height: 24pt;
  padding: 4.5pt 2pt;
  border-radius: 50%;
  background: var(--brand-strong);
}

.time {
  display: flex;
  justify-content: space-between;
}

.time:last-of-type {
  opacity: .5;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 8pt;
}

.links{
  display: flex;
  gap: 8pt;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32pt;
  width: 32pt;
  border-radius: 8pt;
  text-decoration: none;
  background: var(--fill);
  border: 1px solid var(--stroke-on-black-weak);
  stroke: var(--text-on-black-strong);
}

.social hugeicons-icon {
  display: flex;
}

.box > a {
  display: flex;
  align-items: self-start;
  gap: 4pt;
}

section:last-of-type {
  position: relative;
  padding: 16pt;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-on-black-weak);
}

section:last-of-type > p {
  font-size: 11pt;
  color: var(--text-on-black-weak);
}

section:last-of-type::after {
  content: "";
  position: absolute;
  top: 0;
  left: 16pt;
  right: 16pt;
  background: var(--fill);
  height: 1pt;
  border-radius: 1pt;
}


@media (max-width: 758px) {

  section:last-of-type {
    flex-direction: column;
    justify-content: center;
    gap: 16pt;
  }
}

@media (max-width: 480px) {

  section:first-of-type {
    grid-template-columns: repeat(1, 1fr);
  }

  section:last-of-type > p:last-of-type {
    text-align: center;
  }
}
