<section>
  <div class="box">
    <h1>
      <img src="img.png" alt="Logo">
      Edoné
    </h1>
    <div class="socials">
      <p>Seguici</p>
      <div class="links">
        <a href="https://www.facebook.com/centroestetico.edone.92" class="social">
          <hugeicons-icon [icon]="Facebook01Icon"></hugeicons-icon>
        </a>
        <a href="https://www.instagram.com/edone_centroestetico?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" class="social">
          <hugeicons-icon [icon]="InstagramFreeIcons"></hugeicons-icon>
        </a>
      </div>
    </div>
  </div>
  <div class="box">
    <h1>Orari di apertura</h1>
    <div class="time">
      <p>Lunedì-Venerdì</p>
      <p style="color: var(--brand-strong)">9:00 - 20:00</p>
    </div>
    <div class="time">
      <p>Sabato</p>
      <p style="color: var(--brand-strong)">9:00 - 18:00</p>
    </div>
    <div class="time">
      <p>Domenica</p>
      <p>Chiuso</p>
    </div>
  </div>
  <div class="box">
    <h1>Contatti</h1>
    <a href="https://maps.google.com/maps?hl=en&gl=it&um=1&ie=UTF-8&fb=1&sa=X&ftid=0x133f9eb2bdc963cb:0xd30ab28c5d4926a0">
      <hugeicons-icon [icon]="Location01Icon"></hugeicons-icon>
      Via Benedetto Croce, 89, Stazione Montalto-coretto CS
    </a>
    <a href="tel:3295965256">
      <hugeicons-icon [icon]="SmartPhone02Icon"></hugeicons-icon>
      3295965256
    </a>
  </div>
</section>
<section>
  <p>© 2025 Edonè. Tutti i diritti riservati.</p>
  <p>Developed by <a href="">Aldo Gioia</a> & Francesco Cavaliere</p>
</section>
