@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:host {
  width: 100%;
  display: flex;
}

.shifts, .shift {
  display: flex;
  align-items: center;
}

.shifts {
  margin-top: 8pt;
  flex-wrap: wrap;
  gap: 4pt;
  width: 100%;
}

.shift {
  position: relative;
  justify-content: center;
  flex: 1 0 0;
  min-width: 150px;
  border: 1px solid var(--stroke-weak);
  border-radius: 1pt;
  background: var(--fill-dark);
  padding: 4pt;
}

.shift > p {
  color: var(--text-strong) !important;
}

.shift::after {
  content: attr(data-shift);
  position: absolute;
  top: 50%;
  left: 4pt;
  transform: translateY(-50%);
  font-size: 0.75rem;
  color: var(--admin-brand-weak);
}

.slot-card {
  display: flex;
  flex-direction: column;
  padding: 8pt;
  border: 1px solid var(--stroke-weak);
  background: var(--fill-dark);
  border-radius: 16pt;
  gap: 8pt;
}

.slot-card.success {
  border: 1px dashed var(--brand-stroke-strong);
  background: var(--brand-fill);
}

.slot-card.error {
  border: 1px dashed var(--error-stroke-strong);
  background: var(--error-fill);
}

.slot-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.slot-header > .form-group {
  width: fit-content;
}
