.form-groups, .form-group, .form-controls {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16pt;
}

.form-groups p.error, .form-group p.error {
  color: var(--error-strong);
  width: 100%;
}

.form-group {
  gap: 2pt;
}

.form-controls {
  gap: 8pt;
}

label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--text-strong);
  letter-spacing: 0.01em;
  padding-left: 4pt;
}

input[type="text"],
input[type="search"],
input[type="tel"],
input[type="password"],
input[type="number"],
input[type="date"],
select,
textarea {
  width: 100%;
  padding: 4pt 8pt;
  font-size: 0.9375rem;
  color: var(--text-strong);
  background: #FFFFFF;
  border: 1px solid var(--stroke-strong);
  border-radius: 8pt;
  transition: all 0.2s ease-in-out;
  outline: none;
}

input::placeholder {
  color: var(--stroke-strong);
  opacity: 0.7;
}

input[type="checkbox"] {
  accent-color: var(--admin-brand-weak);
  width: 16px;
  height: 16px;
  border: 1px solid var(--stroke-strong);
  border-radius: 6px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

input[type="checkbox"]:checked {
  border-color: var(--admin-brand-weak);
  background-color: var(--admin-brand-weak);
}

/* Focus state - Importante per accessibilità e UX */
input:focus, select:focus, textarea:focus {
  border-color: var(--brand-strong);
  box-shadow: 0 0 0 3px var(--brand-fill);
}

input:disabled {
  background-color: var(--stroke-weak);
  cursor: not-allowed;
  opacity: 0.7;
}


button,
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  padding: 8pt;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.01em;

  border: none;
  border-radius: 8pt;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  line-height: 1;
  text-wrap: nowrap;
}

/* Button Primary (Accent) */
button.primary,
.button.primary {
  background-color: var(--brand-strong);
  color: var(--text-on-black-strong);
}

button.primary:hover,
.button.primary:hover {
  background-color: var(--brand-weak);
}

/* Button Secondary (Outline/Ghost) */
button.secondary,
.button.secondary {
  background-color: transparent;
  border: 1px solid var(--stroke-strong);
  color: var(--text-strong);
}

button.secondary:hover,
.button.secondary:hover {
  background-color: var(--stroke-weak);
  border-color: var(--text-strong);
}

/* Button Danger (Delete actions) */
button.danger,
.button.danger {
  background-color: var(--fill-dark);
  color: var(--error-weak);
  border: 1px solid var(--stroke-weak);
}

button.danger:hover,
.button.danger:hover {
  background-color: var(--error-fill);
  color: var(--error-strong);
  border: 1px solid var(--error-stroke-weak);
}
