figure {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 16pt;
  aspect-ratio: 1/0.8;
  background: #000;
  border-radius: 24px;

  container-type: inline-size;
}

figure > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: .8;
  border-radius: 24px;
}

figcaption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4pt;
  width: 100%;
  height: 100%;
  z-index: 1;
}


.service-icon {
  width: clamp(28px, 8cqw, 40px);
  height: clamp(28px, 8cqw, 40px);
  padding: clamp(4px, 2cqw, 8px);
  border-radius: 50%;
  background-color: var(--stroke-on-black-strong);
  opacity: .6;
  border: 1px solid var(--stroke-on-black-strong);
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-icon svg {
  width: clamp(16px, 5cqw, 24px);
  height: clamp(16px, 5cqw, 24px);
}


h4 {
  color: var(--text-on-black-strong);
}


.service-info {
  width: 100%;
}

.price-and-duration {
  display: flex;
  align-items: center;
  gap: 16px;
}

.price-and-duration > .element {
  display: flex;
  gap: 8px;
}

.service-description {
  color: var(--text-on-black-weak);
}


h4 {
  font-size: clamp(1rem, 2.5cqw + 0.5rem, 2rem);
}

h5 {
  font-size: clamp(0.8rem, 1.8cqw + 0.4rem, 1.25rem);
}

p {
  font-size: clamp(0.75rem, 2.5cqw + 0.25rem, 1.25rem);
}




