<div class="box">
  <div class="header">
    <hugeicons-icon [class.show]="pageIndex > 0" class="back-btn" [icon]="ArrowLeft01Icon" (click)="goBack()"></hugeicons-icon>
    <img src="logo.png" alt="logo">
  </div>

  <div class="forms" [class.translate]="pageIndex > 1">

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="telephone">Telefono</label>
        <input
          id="telephone"
          type="tel"
          formControlName="phoneNumber"
          placeholder="+39 3331234567"
          [class.invalid]="getFormControl(loginForm, 'phoneNumber')?.invalid && getFormControl(loginForm, 'phoneNumber')?.touched">

        @if (getFormControl(loginForm, 'phoneNumber')?.invalid && getFormControl(loginForm, 'phoneNumber')?.touched) {
          <small class="error-message">Inserisci un numero di telefono valido.</small>
        }
      </div>

      @if (pageIndex === 0) {
        <div class="form-group">
          <label for="passwordLogin">Password</label>
          <input
            id="passwordLogin"
            type="password"
            formControlName="password"
            placeholder="La tua password"
            [class.invalid]="getFormControl(loginForm, 'password')?.invalid && getFormControl(loginForm, 'password')?.touched">

          @if (getFormControl(loginForm, 'password')?.invalid && getFormControl(loginForm, 'password')?.touched) {
            <small class="error-message">La password deve contenere almeno 8 caratteri e 1 numero.</small>
          }
        </div>
      } @else if (pageIndex === 1) {
        <div class="instruction-box">
          <p class="text-small">Inserisci il tuo numero di telefono registrato. Ti invieremo un codice di verifica tramite WhatsApp per reimpostare la password.</p>
        </div>
      }

      <button class="primary" type="submit" [disabled]="loading">
        @if (loading) { Attendere... } @else { {{ pageIndex === 0 ? 'Accedi' : 'Ricevi Codice' }} }
      </button>

      @if (pageIndex === 0) {
        <p (click)="onPasswordForgetClick()" class="text-small forget-link">Hai dimenticato la password? <b>Clicca qui</b></p>
      }
    </form>

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="token">Codice Token</label>
        <input
          id="token"
          type="text"
          formControlName="token"
          placeholder="Es: 123456"
          [class.invalid]="getFormControl(resetForm, 'token')?.invalid && getFormControl(resetForm, 'token')?.touched">

        @if (getFormControl(resetForm, 'token')?.invalid && getFormControl(resetForm, 'token')?.touched) {
          <small class="error-message">Inserisci il codice ricevuto.</small>
        }
      </div>

      <div class="form-group">
        <label for="newPassword">Nuova Password</label>
        <input
          id="newPassword"
          type="password"
          formControlName="newPassword"
          placeholder="Nuova password"
          [class.invalid]="getFormControl(resetForm, 'newPassword')?.invalid && getFormControl(resetForm, 'newPassword')?.touched">

        @if (getFormControl(resetForm, 'newPassword')?.invalid && getFormControl(resetForm, 'newPassword')?.touched) {
          <small class="error-message">La password deve contenere almeno 8 caratteri e 1 numero.</small>
        }
      </div>

      <div class="form-group">
        <label for="confirmPassword">Conferma Password</label>
        <input
          id="confirmPassword"
          type="password"
          formControlName="confirmPassword"
          placeholder="Ripeti password"
          [class.invalid]="resetForm.hasError('mismatch') && getFormControl(resetForm, 'confirmPassword')?.touched">

        @if (resetForm.hasError('mismatch') && getFormControl(resetForm, 'confirmPassword')?.touched) {
          <small class="error-message">Le password non coincidono.</small>
        }
      </div>

      <button class="primary" type="submit" [disabled]="loading">
        @if (loading) { Attendere... } @else { Aggiorna Password }
      </button>
    </form>

  </div>
</div>
