<section class="list-section">
  <div class="header">
    <h2>Clienti</h2>
    <div class="search-section">
      <input [formControl]="searchControl" type="search" placeholder="Cerca per nome...">
      <button [class.open]="isFormOpen" (click)="isFormOpen ? closeForm() : openCreateForm()">
        <hugeicons-icon [icon]="isFormOpen ? Cancel01Icon : Add01Icon"></hugeicons-icon>
      </button>
    </div>
  </div>

  <div class="list">
    @for (item of customers; track item.id) {
      <app-list-item
        [title]="item.name + ' ' + item.surname"
        [icon]="UserIcon"
        (click)="openEditForm(item)">
        <p class="text-small">{{ item.phoneNumber | formatPhone }}</p>
      </app-list-item>
    }
    @empty {
      @if (!isLoading) {
        <p class="empty-state">Nessun utente trovato.</p>
      }
    }

    @if (isLoading) {
      <div class="loading">Caricamento in corso...</div>
    }

    @if (!isLoading && !isLastPage && !isSearching && customers.length > 0) {
      <div class="load-more-container">
        <button class="secondary" (click)="loadMore()">Carica altro</button>
      </div>
    }
  </div>
</section>

<form [formGroup]="customerForm" (ngSubmit)="onSubmit()" [class.open]="isFormOpen" class="side-form">
  <div class="header">
    <h2>{{ isEditMode ? 'Modifica Cliente' : 'Nuovo Cliente' }}</h2>
  </div>

  <div class="form-groups">
    <input type="hidden" formControlName="id">

    <div class="form-group">
      <label for="name">Nome</label>
      <input formControlName="name" id="name" type="text" placeholder="Nome">
    </div>

    <div class="form-group">
      <label for="surname">Cognome</label>
      <input formControlName="surname" id="surname" type="text" placeholder="Cognome">
    </div>

    <div class="form-group">
      <label for="phone">Numero di Telefono</label>
      <input formControlName="phoneNumber" id="phone" type="tel" placeholder="Numero di telefono">
    </div>
  </div>

  <div class="form-controls">
    <button class="primary" type="submit" [disabled]="customerForm.invalid || isLoading">
      {{ isEditMode ? 'Salva Modifiche' : 'Aggiungi' }}
    </button>
    @if (isEditMode) {
      <button class="danger" (click)="deleteCustomer($event)">Elimina</button>
    }
  </div>
</form>
