:host {
  display: flex;
  flex-direction: column;
  gap: 64pt;
  width: 100%;
}

header {
  height: 100lvh;
  width: 100%;
  position: relative;
  color: var(--text-on-black-strong);
  background: #000;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 16pt 32pt;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
}

h1 {
  display: flex;
  align-items: center;
  gap: 4pt;
  font-size: clamp(1.25rem, 1vw + 1rem, 1.5rem);
  color: var(--text-on-black-strong);
}

h1 > img {
  height: 24pt;
  padding: 4.5pt 2pt;
  border-radius: 50%;
  background: var(--brand-strong);
}

h5 {
  color: var(--brand-strong);
}

ul {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 8pt;
}

li {
  list-style: none;
}

figure {
  position: relative;
  display: flex;
  align-items: end;
  height: 100%;
  width: 100%;
  padding: 32pt;
}

figure > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: .6;
}

figcaption {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;
}

figcaption > h4 {
  color: var(--text-on-black-strong);
}

figcaption > h5 {
  margin-bottom: 8pt;
}

figcaption > p {
  max-width: 43ch;
  margin: 6pt 0;
  color: var(--text-on-black-strong);
}

figcaption > button {
  margin: 6pt 0 12pt 0;
}

figcaption > div {
  display: flex;
  gap: 16pt;
  padding: 16pt 0;
  width: fit-content;
  border-top: 1px solid var(--fill);
}

figcaption > div > p {
  font-size: clamp(1rem, 0.5vw + 1rem, 1.25rem);
  color: var(--text-on-black-weak);
}

figcaption > div > p > span {
  color: var(--brand-strong);
}


section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32pt;
  padding: 16pt;
}

.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8pt;
}

.title-section > h4 {
  padding: 4pt 8pt;
  border-radius: 16pt;
  font-size: 12pt;
  display: flex;
  align-items: center;
  gap: 4pt;
  background: var(--brand-fill);
  stroke: var(--brand-strong);
  border: 1px solid var(--brand-stroke-weak);
}

.title-section > h5 {
  color: var(--text-strong);
}

.service-section > p {
  max-width: 60ch;
  text-align: center;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16pt;
  width: 100%;
}

@media (max-width: 832px) {
  .service-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}


@media (max-width: 568px) {
  ul {
    display: none;
  }

  nav, figure, section {
    padding: 8pt;
  }

  .service-grid {
    gap: 8pt;
  }
}

