:host {
  display: flex;
  flex-direction: column;
  gap: 64pt;
  width: 100%;
}


/*------------HERO--------------*/
header {
  height: 100lvh;
  width: 100%;
  position: relative;
  color: var(--text-on-black-strong);
  background: #000;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 16pt 32pt;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
}

h1 {
  display: flex;
  align-items: center;
  gap: 8pt;
  font-size: clamp(1.25rem, 1vw + 1rem, 1.5rem);
  color: var(--text-on-black-strong);
}

h1 > img {
  height: 51px;
}

.hero {
  position: relative;
  display: flex;
  align-items: end;
  height: 100%;
  width: 100%;
  padding: 32pt;
}

.hero > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: .6;
}

figcaption {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;
  gap: 16pt;
}

.wrap {
  display: flex;
  flex-direction: column;
  gap: 8pt;
}

.wrap > h4 {
  color: var(--text-on-black-strong);
}

.wrap > h5 {
  margin-bottom: 8pt;
  color: var(--brand-strong);
}

figcaption > p {
  max-width: 43ch;
  margin: 6pt 0;
  color: var(--text-on-black-strong);
}

figcaption > button {
  margin: 6pt 0 12pt 0;
}

.stats {
  display: flex;
  gap: 16pt;
  padding: 16pt 0;
  width: fit-content;
  border-top: 1px solid var(--fill);
}

.stats > p {
  font-size: clamp(1rem, 0.5vw + 1rem, 1.25rem);
  color: var(--text-on-black-weak);
}

.stats > p > span {
  color: var(--brand-strong);
}

h5.green {
  color: var(--brand-strong);
}


/*------------SEZIONI--------------*/
section {
  display: flex;
  flex-direction: column;
  gap: 32pt;
  width: 100%;
  max-width: 1280pt;
  padding: 16pt;
}

.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8pt;
}

.title-section.left {
  align-items: start;
}

.title-section > h4 {
  padding: 4pt 8pt;
  border-radius: 16pt;
  font-size: 12pt;
  display: flex;
  align-items: center;
  gap: 4pt;
  background: var(--brand-fill);
  stroke: var(--brand-strong);
  border: 1px solid var(--brand-stroke-weak);
}

.title-section > h5 {
  color: var(--text-strong);
}

.title-section.light-background > h4 {
  background-color: var(--background);
  opacity: .7;
}


/*------------SERVIZI--------------*/
.service-section{
  align-items: center;
}

.service-section {
  padding: 112px 32px;
}

.service-section > p, .ratings-section > p {
  max-width: 60ch;
  text-align: center;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16pt;
  width: 100%;
}

/*------------APP--------------*/
.app-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.sub-section {
  display: flex;
  flex-direction: column;
  gap: 32pt;
  max-width: 450pt;
}

.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8pt;
  width: fit-content;
}

.mock {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16pt;
  height: fit-content;
  padding: 16pt;
}

.mock::before {
  content: "";
  position: absolute;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: linear-gradient(135deg, rgba(0, 212, 146, 0.20) 0%, rgba(0, 187, 167, 0.20) 100%);
  filter: blur(64px);
}

.mock > img {
  max-height: 500pt;
  width: 100%;
}

.mock > .app-stores {
  display: none;
}

/*------------VALUTAZIONI--------------*/
.ratings-section {
  background: linear-gradient(
    135deg,
    #ECFDF5 0%,
    #F0FDFA 50%,
    #FFF1F2 100%
  );
  align-items: center;
  padding: 112pt 32pt;
}

.ratings-section > p{
  max-width: 60ch;
}

.ratings-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16pt;
  width: 100%;
}

/*------------CHI SIAMO--------------*/
.who-we-are-section {
  padding: 112pt 32pt;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  background: linear-gradient(
    135deg,
    #ECFDF5 0%,
    #FFFFFF 50%,
    #FFF1F2 100%
  );
}

.who-we-are-section > img {
  border-radius: 24px;
  max-width: 250pt;
  aspect-ratio: 1 / 1.2;
  object-fit: cover;
  width: clamp(180pt, 30vw, 350pt);
}

.who-we-are-section > .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 24px;
}


/*------------MEDIA QUERY--------------*/
@media (max-width: 1080px) {
  .who-we-are-section {
    flex-direction: column;
    align-items: center;
  }

  .who-we-are-section > img {
    width: 100%;
    aspect-ratio: auto;
    max-width: 100%;
  }
}


@media (max-width: 832px) {
  .service-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .app-section {
    flex-direction: column;
  }

  .sub-section > .app-stores {
    display: none;
  }

  .mock > .app-stores {
    display: flex;
  }
}


@media (max-width: 768px) {
  .ratings-section, .who-we-are-section, .service-section {
    padding: 64pt 16pt;
  }
}


@media (max-width: 568px) {
  ul {
    display: none;
  }

  nav, figure, section {
    padding: 8pt;
  }

  .service-grid {
    gap: 8pt;
  }

  .ratings-list {
    grid-template-columns: repeat(1, 1fr);
  }

}


@media (max-width: 480px) {
  .features {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 8pt;
    width: 100%;
  }

  .stats {
    display: none;
  }
}

