<section class="list-section">

  <div class="header">
    <h2>Macchinari</h2>
    <div class="search-section">
      <input type="search" placeholder="Cerca per nome...">
      <button class="primary" (click)="openCreateForm()">Nuovo Macchinario</button>
    </div>
  </div>
  <div class="list">
    @for (tool of tools; track tool.id) {
      <app-list-item [title]="tool.name" [type]="'tool'" (click)="openEditForm(tool)">
        <div class="availability">
          <p class="text-small">Quantità:</p>
          <p class="text-small green">{{ tool.availability }}</p>
        </div>
      </app-list-item>
    }
    @empty {
      @if (!isLoading) { <p class="empty-state">Nessun Macchinario trovato.</p> }
    }

    @if (isLoading) { <div class="loading">Caricamento in corso...</div> }
  </div>
</section>

<form [formGroup]="toolForm" [class.open]="isFormOpen" class="side-form" (ngSubmit)="onSubmit()">
  <div class="header">
    <h2>{{ isEditMode ? 'Modifica Macchinario' : 'Nuovo Macchinario' }}</h2>
    <button type="button" (click)="closeForm()" class="close-btn">✕</button>
  </div>

  <div class="form-groups">
    <input type="hidden" formControlName="id">

    <div class="form-group">
      <label for="name">Nome</label>
      <input id="name" formControlName="name" type="text" placeholder="Nome Macchinario">
      @if (checkToolNameError()) {
        <p class="error">Il nome è obbligatorio</p>
      }
    </div>
    <div class="form-group">
      <label for="availability">Disponibilità</label>
      <input
        id="availability"
        formControlName="availability"
        type="number"
        placeholder="Disponibilità"
        step="1"
        min="1">
      @if (checkToolAvailabilityError()) {
        <p class="error">La disponibilità deve essere un numero intero positivo</p>
      }
    </div>
  </div>

  <div class="form-group">
    <button class="primary" type="submit" [disabled]="toolForm.invalid || isLoading">
      {{ isEditMode ? 'Salva Modifiche' : 'Aggiungi' }}
    </button>
    @if (isEditMode) {
      <button class="danger" (click)="deleteTool($event)">Elimina</button>
    }
  </div>
</form>
