<section class="list-section">

  <div class="header">
    <h2>Macchinari</h2>
    <div class="search-section">
      <input [formControl]="searchControl" type="search" placeholder="Cerca per nome...">
      <div class="controls">
        <button (click)="forceRefreshList()" title="Aggiorna lista">
          <hugeicons-icon [icon]="Refresh01Icon"></hugeicons-icon>
        </button>
        <button [class.open]="isFormOpen" (click)="isFormOpen ? closeForm() : openCreateForm()">
          <hugeicons-icon [icon]="isFormOpen ? Cancel01Icon : Add01Icon"></hugeicons-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="list">
    @for (tool of searchedTools; track tool.id) {
      <app-list-item
        [title]="tool.name"
        [icon]="BrushIcon"
        (click)="openEditForm(tool)">
          <div class="availability">
            <p class="text-small">Quantità:</p>
            <p class="text-small green">{{ tool.availability }}</p>
          </div>
      </app-list-item>
    }
    @empty {
      @if (!isLoading) { <p class="empty-state">Nessun Macchinario trovato.</p> }
    }

    @if (isLoading) { <div class="loading">Caricamento in corso...</div> }
  </div>
</section>

<form [formGroup]="toolForm" [class.open]="isFormOpen" class="side-form" (ngSubmit)="onSubmit()">
  <div class="header">
    <h2>{{ isEditMode ? 'Modifica Macchinario' : 'Nuovo Macchinario' }}</h2>
  </div>

  <div class="form-groups">
    <input type="hidden" formControlName="id">

    <div class="form-group">
      <label for="name">Nome</label>
      <input
        id="name"
        formControlName="name"
        type="text"
        placeholder="Nome Macchinario"
        [class.invalid]="getFormControl('name')?.invalid && (getFormControl('name')?.dirty || getFormControl('name')?.touched)">

      @if (getFormControl('name')?.invalid && (getFormControl('name')?.dirty || getFormControl('name')?.touched)) {
        <div class="error-message">
          @if (getFormControl('name')?.errors?.['required']) { <small>Il nome è obbligatorio.</small> }
          @if (getFormControl('name')?.errors?.['minlength']) { <small>Il nome non può essere vuoto.</small> }
          @if (getFormControl('name')?.errors?.['maxlength']) { <small>Il nome è troppo lungo (max 50 caratteri).</small> }
          @if (getFormControl('name')?.errors?.['onlySpaces']) { <small>Il nome non può contenere solo spazi.</small> }
        </div>
      }
    </div>

    <div class="form-group">
      <label for="availability">Disponibilità</label>
      <input
        id="availability"
        formControlName="availability"
        type="number"
        placeholder="Disponibilità"
        step="1"
        min="{{ isEditMode ? 0 : 1}}"
        [class.invalid]="getFormControl('availability')?.invalid && (getFormControl('availability')?.dirty || getFormControl('availability')?.touched)">

      @if (getFormControl('availability')?.invalid && (getFormControl('availability')?.dirty || getFormControl('availability')?.touched)) {
        <div class="error-message">
          @if (getFormControl('availability')?.errors?.['required']) { <small>La disponibilità è obbligatoria.</small> }
          @if (getFormControl('availability')?.errors?.['min']) { <small>La disponibilità deve essere un numero positivo (minimo {{ isEditMode ? 0 : 1 }}).</small> }
        </div>
      }
    </div>
  </div>

  <div class="form-controls">
    <button class="primary" type="submit" [disabled]="toolForm.invalid || isSaving">
      @if (isSaving) { Attendere... } @else { {{ isEditMode ? 'Salva Modifiche' : 'Aggiungi' }} }
    </button>

    @if (isEditMode) {
      <button type="button" class="danger" (click)="deleteTool($event)" [disabled]="isSaving">Elimina</button>
    }
  </div>
</form>
