<section class="list-section">
  <div class="header">
    <h2>Turni Operatori</h2>
    <div class="search-section">
      <div class="side-list">
        @for (operator of operators; track operator.id) {
          <div class="side-list-item" [class.selected]="isOperatorSelected(operator)" (click)="selectOperator(operator)">
            <img [src]="operator.imgUrl" [alt]="operator.name + ' ' + operator.surname"/>
            <p>{{ operator.name + ' ' + operator.surname }}</p>
          </div>
        } @empty {
          @if (!isLoadingOperators) { <p class="empty-state">Nessun operatore trovato</p> }
        }
        @if (isLoadingOperators) { <div class="loading">Caricamento in corso...</div> }
      </div>
      <div class="controls">
        <button (click)="forceRefreshList()" title="Aggiorna lista">
          <hugeicons-icon [icon]="Refresh01Icon"></hugeicons-icon>
        </button>
        <button [class.open]="isFormOpen" (click)="isFormOpen ? closeForm() : openCreateForm()">
          <hugeicons-icon [icon]="isFormOpen ? Cancel01Icon : Add01Icon"></hugeicons-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="list">
    @if (selectedOperator && !isLoadingSchedules){
      @for (day of weekDays; track day.key){
        <app-list-item [title]="day.label" [icon]="DateTimeIcon" (click)="handleDayClick(day.key)">
          <div class="shifts">
            @for (shift of getShiftsByDay(day.key); track shift.id) {
              @if (shift.type === 'M') {
                <div class="shift" data-shift="M">
                  <p class="text-small mono">{{ shift.start.substring(0, 5) + ' - ' + shift.end.substring(0, 5) }}</p>
                </div>
                @if (getShiftsByDay(day.key).length < 2) {
                  <div class="shift" data-shift="P">
                    <p class="text-small mono">Riposo</p>
                  </div>
                }
              } @else {
                @if (getShiftsByDay(day.key).length < 2) {
                  <div class="shift" data-shift="M">
                    <p class="text-small mono">Riposo</p>
                  </div>
                }
                <div class="shift" data-shift="P">
                  <p class="text-small mono">{{ shift.start.substring(0, 5) + ' - ' + shift.end.substring(0, 5) }}</p>
                </div>

              }
            } @empty {
              <div class="shift" data-shift="M">
                <p class="text-small mono">Riposo</p>
              </div>
              <div class="shift" data-shift="P">
                <p class="text-small mono">Riposo</p>
              </div>
            }
          </div>
        </app-list-item>
      } @empty {
        <p class="empty-state">Nessun turno settimanale definito per questo operatore.</p>
      }
    } @else if (!selectedOperator) {
      <p class="empty-state">Seleziona un operatore dalla barra in alto.</p>
    } @else if (isLoadingSchedules) {
      <div class="loading">Caricamento eccezioni...</div>
    }
  </div>
</section>

<form [formGroup]="scheduleForm" [class.open]="isFormOpen" class="side-form" (ngSubmit)="onSubmit()">
  <div class="header">
    <h2>{{ isEditMode ? 'Modifica Turno' : 'Aggiungi Turno' }}</h2>
  </div>

  <div class="form-groups">
    <input type="hidden" formControlName="id">

    <div class="form-group">
      <label for="days">Giorno della settimana</label>
      <select id="days" [class.color-option]="!getFormControl('days')?.value" formControlName="day">
        <option value="" disabled>Seleziona un giorno</option>

        @if (isEditMode) {
          <option [value]="scheduleForm.get('day')?.value">
            {{ getLabelFromKey(scheduleForm.get('day')?.value) }}
          </option>
        } @else {
          @for (day of getDaysWithoutShifts(); track day.key) {
            <option [value]="day.key">{{ day.label }}</option>
          }
        }
      </select>
    </div>

    <div class="slot-card" [class.error]="isMorningInvalid" [class.success]="isMorningValid">
      <div class="slot-header">
        <h5>Mattina</h5>
        <div class="form-group row">
          <label>Riposo</label>
          <input type="checkbox" formControlName="isMorningOff">
        </div>
      </div>

      <div class="form-group row" [class.disabled-row]="getFormControl('isMorningOff')?.value">
        <div class="form-group">
          <label>Inizio</label>
          <input type="time" formControlName="morningStart" step="1800">
        </div>
        <div class="form-group">
          <label>Fine</label>
          <input type="time" formControlName="morningEnd" step="1800">
        </div>
      </div>

      @if (isMorningInvalid) {
        <div class="error-message"><small>{{ scheduleForm.getError('invalidMorning') }}</small></div>
      }
    </div>

    <div class="slot-card" [class.error]="isAfternoonInvalid" [class.success]="isAfternoonValid">
      <div class="slot-header">
        <h5>Pomeriggio</h5>
        <div class="form-group row">
          <label>Riposo</label>
          <input type="checkbox" formControlName="isAfternoonOff">
        </div>
      </div>

      <div class="form-group row" [class.disabled-row]="getFormControl('isAfternoonOff')?.value">
        <div class="form-group">
          <label>Inizio</label>
          <input type="time" formControlName="afternoonStart" step="1800">
        </div>
        <div class="form-group">
          <label>Fine</label>
          <input type="time" formControlName="afternoonEnd" step="1800">
        </div>
      </div>
      @if (isAfternoonInvalid) {
        <div class="error-message">
          <small>{{ scheduleForm.getError('invalidAfternoon') }}</small>
        </div>
      }
    </div>

    @if (hasNoScheduleError) {
      <div class="error-message" style="margin-top: 10px;">
        <small>{{ scheduleForm.getError('noSchedule') }}</small>
      </div>
    }@else if (hasOverlapError) {
      <div class="error-message" style="margin-top: 10px;">
        <small>{{ scheduleForm.getError('overlap') }}</small>
      </div>
    }
  </div>

  <div class="form-controls">
    <button class="primary" type="submit" [disabled]="scheduleForm.invalid || isSaving">
      @if (isSaving) { Attendere... } @else { {{ isEditMode ? 'Salva Modifiche' : 'Aggiungi' }} }
    </button>

    @if (isEditMode) {
      <button type="button" class="danger" (click)="deleteSchedule($event)" [disabled]="isSaving">Elimina</button>
    }
  </div>
</form>
