:host {
  position: relative;
  display: flex;
  gap: 8pt;
  width: 100%;
  flex: 1 1 calc(50% - 4pt);
  min-width: min(250px, 100%);
  align-items: self-start;
  background-color: var(--fill-dark);

  border: 1px solid var(--stroke-weak);
  padding: 8pt;
  border-radius: 8pt;

  transition: box-shadow .3s ease-in-out;
  cursor: pointer;
}

:host:hover{
  box-shadow: 0 4px 32px -12px rgba(0, 0, 0, 0.1);
}

:host:hover:after {
  content: 'Modifica';
  position: absolute;
  top: 8pt;
  right: 8pt;
  font-size: 0.75rem;
  color: var(--admin-brand-strong);
}

img{
  width: 24pt;
  height: 24pt;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
}

hugeicons-icon {
  width: 24pt;
  height: 24pt;
  background: var(--brand-fill);
  border-radius: 50%;
  stroke: var(--admin-brand-strong);
}

.item-info {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  :host {
    max-width: calc(50% - 4pt);
  }

}


