@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --background: #FAF8FC;

  --text-strong: #202020;
  --text-weak: #202020C7;
  --text-on-black-strong: #F2FAFBE6;
  --text-on-black-weak: #F2FAFBA6;

  --stroke-strong: #20202073;
  --stroke-weak: #20202026;
  --stroke-on-black-strong: #F2FAFB73;
  --stroke-on-black-weak: #F2FAFB26;

  --fill: #FAF8FC0D;

  --brand-strong: #00D492;
  --brand-weak: #00D492C7;
  --brand-stroke-strong: #00D49273;
  --brand-stroke-weak: #00D49233;
  --brand-fill: #00D4920D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

h1, h2 {
  font-weight: 500;
  color: var(--text-strong);
}

h3, h4, h5, button {
  font-weight: 400;
  color: var(--text-strong);
}

p {
  font-weight: 300;
  color: var(--text-weak);
}

h1 {
  font-size: clamp(2.5rem, 5vw + 1rem, 5rem);
  line-height: 1.1;
  letter-spacing: -0.03em;
}

h2 {
  font-size: clamp(2rem, 4vw + 1rem, 3.5rem);
  line-height: 1.2;
  letter-spacing: -0.025em;
}

h3 {
  font-size: clamp(1.75rem, 3vw + 1rem, 2.5rem);
  line-height: 1.3;
  letter-spacing: -0.02em;
}

h4 {
  font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
  line-height: 1.4;
  letter-spacing: -0.01em;
}

h5, button {
  font-size: clamp(1rem, 0.5vw + 1rem, 1.25rem);
  line-height: 1.4;
  letter-spacing: 0.01em;
}

p {
  font-size: clamp(0.75rem, 2.5cqw + 0.25rem, 1.25rem);
  letter-spacing: 0.02em;
}

svg {
  stroke-width: 2px;
}

button {
  display: flex;
  align-items: center;
  gap: 8pt;
  padding: 8pt 16pt;
  border-radius: 24pt;
  border: 1px solid var(--stroke-on-black-weak);
  background: var(--fill);
  backdrop-filter: blur(2pt);
  color: var(--text-on-black-strong);
  width: fit-content;
  cursor: pointer;
  transition: .3s ease-in-out;
}

button.accent {
  background: var(--brand-strong);
}

button.accent:hover {
  background: var(--brand-weak);
}
