@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --background: #F5F7FA;
  --admin-background: #F5F7FA;

  --fill: #FFFFFF1A;
  --fill-dark: #20202008;

  --text-strong: #1E293B;
  --text-weak: #64748B;

  --text-on-black-strong: #FFFFFF;
  --text-on-black-weak: #CBD5E1;

  --stroke-strong: #D1D5DB;
  --stroke-weak: #E5E7EB;

  --stroke-on-black-strong: #F2FAFB73;
  --stroke-on-black-weak: #F2FAFB26;

  --brand-strong: #00D492;
  --brand-weak: #00D492E6;
  --brand-stroke-strong: #00D49273;
  --brand-stroke-weak: #00D49233;
  --brand-fill: #00D4921A;

  --error-strong: #EF4444;
  --error-weak: #EF4444E6;
  --error-stroke-strong: #EF444473;
  --error-stroke-weak: #EF444433;
  --error-fill: #EF44441A;

  --admin-brand-strong: #059669;
  --admin-brand-weak: #10b981;

  --btn-strong: #F1F5F9;
  --btn-weak: #F8FAFC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.mono {
  font-family: 'Space Mono', monospace;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: var(--background);
  color: var(--text-strong);
  scroll-behavior: smooth;
}

hugeicons-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
