:host {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
  border-radius: 24px;
  width: min(100%, 100vw);
  opacity: .8;
  transition: transform .3s ease, border .3s ease;
}

.header {
  display: flex;
  justify-content: space-between;
}

.user-rating {
  display: flex;
  gap: 16px;
  align-items: center;
}

.quotation-marks {
  display: flex;
  gap: 8px;
}

.quotation-marks > svg {
  width: clamp(16px, 4cqw, 24px);
  aspect-ratio: 0.5;
  height: auto;
  opacity: .4;
}

.stars {
  display: flex;
  gap: 8px;
}

.stars > svg {
  width: clamp(16px, 2cqw, 24px);
  height: clamp(16px, 2cqw, 24px);
}

img {
  width: clamp(56px, 5cqw, 80px);
  height: clamp(56px, 5cqw, 80px);
  border-radius: 50%;
  object-fit: cover;
}

:host:hover {
  transform: translate(0, -10px);
  border: 1px solid var(--brand-strong);
}




