:host {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border-radius: 24px;
  width: min(100%, 100vw);
  opacity: .8;
  transition: transform .3s ease, border .3s ease;
  border: 1px solid transparent;
  position: relative;
}

:host:hover {
  transform: translateY(-10px);
  border: 1px solid var(--brand-strong);
}

.header {
  display: flex;
}

.user-rating {
  display: flex;
  gap: 16px;
  align-items: center;
}

.user-rating h5:first-of-type {
  min-width: 32pt;
  min-height: 32pt;
  background: var(--brand-strong);
  border-radius: 24px;
  color: var(--text-on-black-strong);
  display: flex;
  align-items: center;
  justify-content: center;
}

.quotation-marks {
  position: absolute;
  right: 16pt;
  top: 16pt;
  display: flex;
  gap: 8px;
}

.quotation-marks > svg {
  width: clamp(16px, 4cqw, 24px);
  aspect-ratio: 0.5;
  height: auto;
  opacity: .4;
  fill: rgba(0, 153, 102, 0.6);
  stroke: rgba(0, 153, 102, 0.6);
}

.stars {
  display: flex;
  gap: 8px;
}

.stars > svg {
  width: clamp(16px, 2cqw, 24px);
  height: clamp(16px, 2cqw, 24px);
}


